<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="moniterPath" value="G:\moniter"/>
    <add key="tempPath" value="G:\tempOp"/>
    <add key="resultPath" value="G:\result"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
